div(class="section white profile-section match#{match.userID}" id="match-profile")
    h4(class="center text-orange") CoffeeChat Connected!
    div(class="row container profile-container")
        div(class="col s6 offset-s3 m3 offset-m0 l3 offset-l0")
            a(href="" id="match-link")
                img(class="responsive-img circle coffee-chat-circle" id="match-pic" src="public/images/generic-profile.png")
                h5(class="center text-grey" id="match-name") Match Name
                h6(class="center text-grey" id="match-title") Match Title
        div(class="col s12 m3 l3")
            h5(class="section-title text-orange") Work Experience
            div(class="spacer-15")
            div(id="work-container")
        div(class="col s12 m3 l3")
            h5(class="section-title text-orange") Education
            div(class="spacer-15")
            div(id="education-container")
        div(class="col s12 m3 l3")
            h5(class="section-title text-orange") Interests
            div(class="spacer-15")
            div(id="interests-container")
div(class="section coffee-chat-orange-background #{match.userID}" id="match-reasons")
    div(class="center")
        h4(class="section-title text-orange") Why Did We Match?
    div(class="row container")
        div(class="center col s12 m4 l4")
            i(class="material-icons large text-orange") done
            p(class="text-grey flow-text") You both attend Northwestern University.
        div(class="center col s12 m4 l4")
            i(class="material-icons large text-orange") done
            p(class="text-grey flow-text") You are both interested in startups and technology.
        div(class="center col s12 m4 l4")
            i(class="material-icons large text-orange") done
            p(class="text-grey flow-text") You both have a passion for outdoor sports!
div(class="section white #{match.userID}" id="match-accept")
    div(class="container center")
        h5(class="section-title text-orange") Match Details
        div(class="row center-align valign-wrapper")
            div(class="right-align col s6 m3 l4")
                i(class="material-icons large text-grey valign") date_range
            div(class="left-align col s6 m3 l2")
                h5(class="text-grey") March 10
                h6(class="text-grey") 12:30 PM
                h6(class="text-grey") Tech Express
            div(class="right-align col s6 m3 l2")
                a(class="waves-effect waves-orange right match-btn valign" id="accept-match")
                    i(class="material-icons large text-orange") done  
            div(class="left-align col s6 m3 l4")
                a(class="waves-effect left match-btn valign" id="decline-match")
                    i(class="material-icons large text-grey") clear    
div(class="section white #{match.userID}" id="match-rate")
    div(class="container center")
        h4(class="section-title text-orange") CoffeeChat Confirmed!
        div(class="row center-align valign-wrapper")
            div(class="right-align col s6 m6 s6")
                i(class="material-icons large text-grey valign") date_range
            div(class="left-align col s6 m6 s6")
                h5(class="text-grey") March 10
                h6(class="text-grey") 12:30 PM
                h6(class="text-grey") Tech Express
        h5(class="text-grey") How was your chat?
        div(class="rating text-orange")
            a(class="text-orange" id="one") &#9675;
            a(class="text-orange" id="two") &#9675;
            a(class="text-orange" id="three") &#9675;
            a(class="text-orange" id="four") &#9675;
            a(class="text-orange" id="five") &#9675;
        div( style="display:none")
            input(type='text' id="feedback_rating" name='ratingData')
        div
            a(class="spacer-15 btn btn-outline white waves-effect waves-orange text-orange submit z-depth-0" id="submit-rating") Submit
            

script(src="https://code.jquery.com/jquery-2.2.0.min.js")
script. 
    var matchId = !{match.userID}
    var matchNumber = !{match.id}
    var matchStatus = !{match.myStatus}
script(src="/public/js/match.js")