div(class="section white profile-section match#{match.userID}" id="match-profile")
    h4(class="center text-orange") CoffeeChat Connected!
    div(class="container")
        include ./profile.jade
//- div(class="section coffee-chat-orange-background #{match.userID}" id="match-reasons")
    div(class="center")
        h4(class="section-title text-orange") Why Did We Match?
    div(class="row container")
        div(class="center col s12 m4 l4")
            i(class="material-icons large text-orange") done
            p(class="text-grey flow-text") You both attend Northwestern University.
        div(class="center col s12 m4 l4")
            i(class="material-icons large text-orange") done
            p(class="text-grey flow-text") You are both interested in startups and technology.
        div(class="center col s12 m4 l4")
            i(class="material-icons large text-orange") done
            p(class="text-grey flow-text") You both have a passion for outdoor sports!
div(class="section white #{match.userID}" id="match-accept")
    div(class="container center")
        h5(class="section-title text-orange") Would you like to meet #{match.firstName}?
        div(class="row center-align valign-wrapper")
            //- div(class="right-align col s6 m3 l4")
                i(class="material-icons large text-grey valign") date_range
            div(class="col s6 m6 l6")
                a(class="waves-effect waves-orange right match-btn valign" id="accept-match")
                    i(class="material-icons large text-orange") done  
            div(class="col s6 m6 l6")
                a(class="waves-effect left match-btn valign" id="decline-match")
                    i(class="material-icons large text-grey") clear    
div(class="section white #{match.userID}" id="match-rate")
    div(class="container center")
        h4(class="section-title text-orange") CoffeeChat Accepted!
        div(class="row center-align valign-wrapper")
            div(class="center-align col s12 m12 l12")
                i(class="material-icons large text-grey valign") date_range
            //- div(class="left-align col s6 m6 s6")
        h5(class="text-grey") 
            div Contact #{match.firstName} at 
                a(href="mailto:#{match.email}") #{match.email} 
                and schedule a time to chat!
        h5(class="text-grey") Come back and tell us how was your chat?
        div(class="rating text-orange")
            a(class="text-orange" id="one") &#9675;
            a(class="text-orange" id="two") &#9675;
            a(class="text-orange" id="three") &#9675;
            a(class="text-orange" id="four") &#9675;
            a(class="text-orange" id="five") &#9675;
        div( style="display:none")
            input(type='text' id="feedback_rating" name='ratingData')
        div
            a(class="spacer-15 btn btn-outline white waves-effect waves-orange text-orange submit z-depth-0" id="submit-rating") Submit
            

script(src="https://code.jquery.com/jquery-2.2.0.min.js")
script.
    var matchId = !{match.userID}
    var matchNumber = !{match.id}
    var matchStatus = !{match.myStatus}
script(src="/public/js/match.js")