html
    head
        include ./includes/styles.jade
    body
        include ./includes/header.jade
        div(class="current-matches")
            div(class="row")
                //- div(class="center col s12 m2 l2 valign")
                    h4(class="text-orange") Your Matching Stats
                    div(class="row")
                        h5(class="center text-orange")=metrics.totalConnections
                        h5(class="center text-orange") Total Connections
                    div(class="row")
                        h5(class="center text-orange")=metrics.avgRating
                        h5(class="center text-orange") Average Rating
                div(class="col s12 m12 l12 valign")
                    if (curMatch.total > 0)
                        each match in [curMatch.matches[0]]
                            include ./includes/match.jade
                    else
                        //- br
                        h4(class="center text-orange" id="match-announcement") CoffeeChats are Brewing!
                        //- img(class="responsive-img center-block" src="/public/images/brewing.png")
                        //- h4(class="center text-orange" id="match-announcement") Please check back soon for new matches!
                        //- br
                div
                //- div(class="col s12 m12 l12 valign")
                    div(class="row")
                        div(class="col s12 m4 l4")
                            img(class="responsive-img circle coffee-chat-circle match-pic" src="public/images/circle-1.png")
                        div(class="col s12 m4 l4")
                            img(class="responsive-img circle coffee-chat-circle match-pic" src="public/images/circle-2.jpg")
                        div(class="col s12 m4 l4")
                            img(class="responsive-img circle coffee-chat-circle match-pic" src="public/images/circle-3.png")
                //- div(class="center col s12 m2 l2 valign")
                    br
                    br
                    br
                    h4(class="text-orange") You have been matched with
                    each group in metrics.groups
                        h5(class="center text-orange")=group.totalConnections
                        h5(class="center text-orange")=group.groupName
        if (matchHist.matches)
            div(class="section coffee-chat-grey-background  past-matches" id="previous-matches")
                h5(class="center text-orange") Past CoffeeChats
                div(class="row container")
                    each pastMatch in matchHist.matches
                        include ./includes/past-match.jade
        include ./includes/footer.jade
        
    script(src="https://code.jquery.com/jquery-2.2.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")    
    script(src="/public/js/index.js")
    if (matchHist.matches)
        script var pastMatchData = !{JSON.stringify(matchHist.matches)}
        script(src="/public/js/past-matches.js")
    include ./includes/google-analytics.jade