html
	head
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
		link(rel="stylesheet" href="/public/css/index.css")
	body
		include ./includes/header.jade
		h2(class="center text-orange") My Profile
		div(class="row container")
			ul(class="collapsible z-depth-0" data-collapsible="expandable")
				for field, index in settings.fields
					- var color = "coffee-chat-grey-background"
					li
						div(class="collapsible-header active")
							h5=field.name
						div(class="collapsible-body")
							if (field.grouped == true)
								for key in field.values
									div(class="coffee-chat-collapsible")=key.name
										for item in key.values
											div(class="coffee-chat-collapsible")=item.name
							else
								if (field.displayType == 1)
									for item in field.values	
										div(class="coffee-chat-collapsible")=item.name
								if (field.displayType == 2)
									for item in field.values
										div(class="coffee-chat-collapsible")=item.name
	include ./includes/footer.jade
	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="/public/js/survey.js")
						
