html
	head
		link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css")
		link(rel="stylesheet" href="/public/css/index.css")
	body
		include ./includes/header.jade
		h2(class="center text-orange") Profile Survey
		h5(class="center text-orange") Help us improve your matches!
		div(class="row container text-orange")
			div(class="row")
				div(class="col s12")
					p 1. Industries you are interested in (Choose 3)
					form(action="#")
						for item in survey.fields[0].values	
							div(class="col s3")
								input(id=item.id type="checkbox")
								label(for=item.id)=item.name
			div(class="row")
				form(class="col s4")
					p 2. School
					div(class="input-field col s12")
						input(placeholder="School Name" type="text")
				div(class="col s4")
					p 3. Graduation Year 
					div(class="col s12")
						select
							option(value="" disabled selected) Select a Year
							-for(var x=2019; x>1939; --x)
								option(value=x)=x				
			div(class="row")
				div(class="col s12")
					p 4. Hobbies/Interests (Choose as many as you want)
					ul(class="collapsible popout" data-collapsible="expandable")
						li()
							for key in survey.fields[1].values
								div(class="collapsible-header")=key.name
								div(class="collapsible-body active")
									form(action="#")
									for hobby in key.values
										input(id=hobby.id type="checkbox")
										label(for=hobby.id)=hobby.name
			div(class="row")
				div(class="col s12")
					p 5. What would you like to get out of CoffeeChats? (Choose up to 3)
					form(action="#")
						for feat in survey.fields[2].values
							div(class="col s4")
								input(id=feat.id type="checkbox" class="orange job-features" )
								label(for=feat.id)=feat.name
			div(class="row")
				button(class="btn waves-effect waves-light col coffee-chat-orange offset-s5 submit" type="submit" name="action") Submit
	include ./includes/footer.jade
	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js")
	script(src="/public/js/survey.js")